{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prender</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/emprendedor.css' %} ">
    <link rel="icon" type="image/png" href="{% static 'core/img/mini-flecha.png' %}" />
</head>
<body>
    <div class="container-fluid">
<!--Nav-->
        <div class="allButFooter">
            <nav class="row" id="navi">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <img src="{% static 'core/img/logo-prender.png' %}" height="45px" class="navbar-brand" alt="">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">  
                                <li class="nav-item alHome">
                                    <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a> 
                                </li>   
                            {% if user.is_authenticated %} 
                                {% if user.is_emprendedor %}                       
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                        Herramientas Gestión
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{% url 'adminPdcto' %}">Administrar Productos</a>
                                        <a class="dropdown-item" href="{% url 'inventario' %}">Inventario</a>
                                        <a class="dropdown-item" href="#">Balance</a>
                                        <a class="dropdown-item" href="{% url 'recetas' %}">Recetas</a>
                                        <a class="dropdown-item" href="{% url 'editarPerfilEmp' user.id %} ">Editar perfil</a>
                                        </div>
                                    </div>
                                </li>                                    
                                {% endif %}                          
                            {% endif %}                                                
                            </ul>
                            {% if user.is_authenticated %}
                                <div id="nombreUsuario">
                                    <h6>Hola {{ user.username }}</h6>
                                </div>
                                <div class="reglog">                                
                                    <a href="{% url 'logout' %}"><button type="button" class="btn btn-dark">Cerrar Sesión</button></a>
                                </div>
                            {% else %}                                
                                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light">Login</button></a>
                                <a href="{% url 'register' %}"><button type="button" class="btn btn-dark">Registrate</button></a>
                            {% endif %}                    
                        </div>
                    </nav>
                </div>
            </nav>
            <br>
            <br>
            <br>
            <br>
    <!--perfil emprendedor-->
    <!-- cabecera -->
            <div class="row">
                <div class="col-md-4">  
                    <img src="{{ perfil.foto_perf.url }}" height="300px" width="500px" style="object-fit: cover;" alt="">
                </div>
                <div class="col-md-1" style="min-width: 100px;"></div>
                <div class="col-md-7">                      
                    <br>          
                    <h1 id="nomTienda" data-placeholder='Nombre tienda'>{{ perfil.nom_tienda }}</h1>  
                    <br>
                    <h2 id="descTienda" data-placeholder='Descripcion tienda'>{{ perfil.desc_tienda }}</h2>
                </div>
            </div>
            <br><hr><br>
            <!-- cuerpo -->

            <!-- categorias -->
            <div class="row">
                <!-- productos -->
                {% for n in productos %}
                <div class="col-md-4 prod_espacio">
                    <div class="card mb-3" style="max-width: 100%; max-height: 100%;">
                        <div class="row no-gutters">
                            <img src="{{ n.imagen.url }}" class="card-img-top"  width="100%" alt="..."
                            style="object-fit: cover;" >
                            <div class="card-body">
                            <h5 class="card-title">{{ n.nom_prod }}</h5>
                            <p class="card-text"> {{ n.desc_prod }}</p>
                            <h4 class="card-text"> ${{ n.valor_prod }} </h4>
                            <a href=" {% url 'producto' n.id %} " class="btn btn-outline-dark">Ver producto</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <br>
                <br>
                <br>

        </div>
        

<!--footer-->
        <footer class="row">
            <div class="col-8">
            <span><p>Lleva tu emprendimiento al siguiente nivel en PRENDER</p></span>
            </div>
            <div class="col-2">
            <p>®Prender</p>
            </div>
        </footer>
    </div>
    
    
    


    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'core/js/validacionFormIndex.js'%}"></script>


</body>
</html>