{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prender</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/nuestroestilo.css' %} ">
    <link rel="icon" type="image/png" href="{% static 'core/img/mini-flecha.png' %}" />
</head>
<body>
    <div class="container-fluid">
        <!--Nav-->
                <div class="allButFooter">
                    <nav class="row" id="navi">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <img src="{% static 'core/img/logo-prender.png' %}" height="45px" class="navbar-brand" alt="">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav mr-auto">  
                                        <li class="nav-item alHome">
                                            <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a> 
                                        </li> 
                                        <li class="nav-item">
                                            <a href="{% url 'regCompras' %}"><button type="button" class="btn btn-dark">Registro Compras</button></a>
                                        </li>                                               
                                    </ul>
                                    {% if user.is_comprador %}
                                    <div class="shopCart">
                                        <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart" aria-hidden="true"></i></a>                            
                                    </div>
                                        {% endif %}
                                    <div class="row reglog">
                                        {% if user.is_authenticated%}
                                        <div class="col nombreUsuario"> 
                                            <h6>Hola {{ user.username }}</h6>
                                        </div>
                                        <div class="col">
                                            <a href="{% url 'logout' %}"><button type="button" class="btn btn-dark">Logout</button></a>
                                        </div>                                    
                                        {% else %}                                
                                            <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light">Login</button></a>
                                            <a href="{% url 'register' %}"><button type="button" class="btn btn-dark">Registrate</button></a>
                                        {% endif %}
                                    </div>                     
                                </div>
                            </nav>
                        </div>
                    </nav>
                    <br>
                    <br>
                    <br>
                    <br>
            <!--perfil emprendedor-->
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                <h3 id="nombreUser">Nombre:</h3>
                                <h5>{{ user.username }} </h5>
                                <br>
                                <h3 id="emailUser">Email:</h3>
                                <h5>{{ user.email }} </h5>
                                <br>
                                <!-- <button type="button" class="btn btn-outline-dark">Editar</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                
        <!--footer-->
                <footer class="row">
                    <div class="col-8">
                    <span><p>Lleva tu emprendimiento al siguiente nivel en PRENDER</p></span>
                    </div>
                    <div class="col-2">
                    <p>®Prender</p>
                    </div>
                </footer>
            </div>

            {% bootstrap_javascript jquery='full' %}
            <script src="{% static 'core/js/validacionFormIndex.js'%}"></script>        
</body>
</html>