{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prender</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/emprendedor.css' %} ">
</head>
<body>
    <div class="container-fluid">
<!--Nav-->
        <div class="allButFooter">
            <nav class="row" id="navi">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <img src="{% static 'core/img/logo-prender.png' %}" height="45px" class="navbar-brand" alt="">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">  
                                <li class="nav-item alHome">
                                    <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a> 
                                </li>                           
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                          Herramientas Gestión
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Inventario</a>
                                          <a class="dropdown-item" href="#">Balance</a>
                                          <a class="dropdown-item" href="#">Recetas</a>
                                        </div>
                                      </div>
                                </li>                                                 
                            </ul>
                            <div id="nomUser">
                                <p>Nombre Usuario</p>
                            </div>
                            <div class="reglog">                                
                                <a href="{% url 'register' %}"><button type="button" class="btn btn-dark">Cerrar Sesión</button></a>
                            </div>                    
                        </div>
                    </nav>
                </div>
            </nav>
            <br>
            <br>
            <br>
            <br>
    <!--perfil emprendedor-->
            <div class="row">
                <div class="col-4">
                    <img src="{% static 'core/img/baner-prender.jpg' %}" id="fotoPerfil">
                </div>
                <div class="col-8">
                    <h1 id="nomTienda">Nombre tienda</h1>
                    <br>
                    <h4 id="descTienda">Descripcion tienda</h4>
                </div>
            </div>

        </div>
        

<!--footer-->
        <footer class="row">
            <div class="col-8">
            <span><p>Lleva tu emprendimiento al siguiente nivel en PRENDER</p></span>
            </div>
            <div class="col-2">
            <p>®Prender</p>
            </div>
        </footer>
    </div>
    
    
    


    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'core/js/validacionFormIndex.js'%}"></script>


</body>
</html>