{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prender</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/emprendedor.css' %} ">
</head>
<body>
    <div class="container-fluid">
<!--Nav-->
        <div class="allButFooter">
            <nav class="row" id="navi">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <img src="{% static 'core/img/logo-prender.png' %}" height="45px" class="navbar-brand" alt="">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">  
                                <li class="nav-item alHome">
                                    <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a> 
                                </li>                           
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                          Herramientas Gestión
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="{% url 'adminPdcto' %}">Administrar Productos</a>
                                          <a class="dropdown-item" href="#">Inventario</a>
                                          <a class="dropdown-item" href="#">Balance</a>
                                          <a class="dropdown-item" href="#">Recetas</a>
                                          <a class="dropdown-item" href="{% url 'editarPerfilEmp' %} ">Editar perfil</a>
                                        </div>
                                      </div>
                                </li>                                                 
                            </ul>
                            {% if user.is_authenticated %}
                                <div id="nomUser">
                                    <h6>Hola {{ user.username }}</h6>
                                </div>
                            {% endif %}
                            <div class="reglog">                                
                                <a href="{% url 'logout' %}"><button type="button" class="btn btn-dark">Cerrar Sesión</button></a>
                            </div>                    
                        </div>
                    </nav>
                </div>
            </nav>
            <br>
            <br>
            <br>
            <br>
    <!--perfil emprendedor-->
    <!-- cabecera -->
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'core/img/baner-prender.jpg' %}" id="fotoPerfil" alt="Foto perfil">
                </div>
                <div class="col-md-8">
                    {% csrf_token %}    
                    <br>                
                    <h1 id="nomTienda" data-placeholder='Nombre tienda'>{{ form.nom_tienda|attr:"readonly:True"|add_class:"textarea"  }}</h1>  
                    <br>
                    <h1 id="descTienda" data-placeholder='Descripcion tienda'>
                        {% render_field form.desc_tienda rows="4" cols="25" readonly=True class="textarea" %}
                    </h1>
                </div>
            </div>
            <!-- cuerpo -->
            <div class="row">
                <div class="col-2 cate">
                    <div class="card ">
                        <h5 class="tituloLista">Categorias</h5>
                    <br>
                    <ul>
                        <li>cate1</li>
                        <li>cate2</li>
                        <li>cate3</li>
                    </ul>
                    </div>
                    
                </div>
                <!-- productos -->
                <div class="col">
                    <div class="card-group">
                        <div class="card">
                          <img src="{% static 'core/img/baner-prender.jpg' %}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                        <div class="card">
                          <img src="{% static 'core/img/baner-prender.jpg' %}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                        <div class="card">
                          <img src="{% static 'core/img/baner-prender.jpg' %}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="{% url 'producto' %}" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                      </div>
                </div>
                <br>
                <br>
                <br>
                
            </div>

        </div>
        

<!--footer-->
        <footer class="row">
            <div class="col-8">
            <span><p>Lleva tu emprendimiento al siguiente nivel en PRENDER</p></span>
            </div>
            <div class="col-2">
            <p>®Prender</p>
            </div>
        </footer>
    </div>
    
    
    


    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'core/js/validacionFormIndex.js'%}"></script>


</body>
</html>