{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prender</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/nuestroestilo.css' %} ">
</head>
<body>
    <div class="container-fluid">
<!--Nav-->
        <nav class="row" id="navi">
            <div class="col-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <img src="{% static 'core/img/letra1.png' %}" height="45px" class="navbar-brand" alt="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
            <div class="col reglog">
                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light">Login</button></a>
                <a href="{% url 'register' %}"><button type="button" class="btn btn-dark">Registrate</button></a>
            </div>
        </nav>
        <br>
        <br>
<!-- jumbotron bienvenida -->
        <div class="row" id="leban">
            <div class="col lepopo" style="padding: 0;">
                <div class="bannerImg"></div>
                <img class="baner" src="{% static 'core/img/baner-prender.jpg' %}" class="img-fluid" alt="..." 
                style="position:relative;margin-left: 0px;margin-right: 0px;">
            </div>
            <div class="text">
                <p class="p1">Mejora la exposición de tu emprendimiento</p>
                <br>
                <p class="p2">Te ayudamos con la gestión de tu negocio</p>
            </div>
        </div>
        
<!--seccion destacados: carrusel con publicidad pagada-->

<!--Recientes cards-->
        <div class="titulo-seccion">
            <div class="row">
                <h1>Descubre Nuevos Sabores!!</h1>
            </div>
        </div>
        <br>

<!--noticias cards-->
<!-- {% for n in noticias %} -->
<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ n.imagen.url }}" height="100%" width="100%" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ n.titulo }}</h5>
                <p class="card-text"> {{ n.cuerpo }}</p>
                <a href="{% url 'notiId' n.noticia_id %}" class="btn btn-outline-dark">Leer más ...</a>
                <p class="card-text"><small class="text-muted">{{ n.fecha }}</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<br>
<!-- {% endfor %} -->
        <br>
        <br>
        <hr>
        <br>
        <br>
<!--Contacto-->
        <div class="titulo-seccion">
            <div id="contacto" class="row">
                <h1>Contacto</h1>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <form class="contacto" id="contactForm">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="elnombre">Nombre</label>
                            <input type="text" class="form-control" id="elNombre"
                                placeholder="Nombre Completo" required>
                            <div class="invalid-feedback" id="eNombre"></div> 
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="elEmail">Email</label>
                            <input type="email" class="form-control" id="elEmail"
                                placeholder="nombre@email.com" required>
                            <div class="invalid-feedback" id="eMail"></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="elAsunto">Asunto</label>
                            <input type="text" class="form-control" id="elAsunto" placeholder="Asunto" required>
                            <div class="invalid-feedback" id="eAsunto"></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="elMensaje">Mensaje</label>
                            <textarea class="form-control" id="elMensaje" rows="3"></textarea>
                            <div class="row">
                                <div class="col-10">
                                    <div class="invalid-feedback" id="eMensaje"></div>
                                </div>
                                <div class="col-2">
                                    <small class="form-text text-muted text-right" id="contcaract">0</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button type="submit" class="btn btn-dark">Enviar</button>
                        <button type="reset" class="btn btn-outline-dark">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row espacio"></div>
        <br>
        <br>
<!--footer-->
        <footer class="row">
            <div class="col-8">
              <span><p>Lleva tu emprendimiento al siguiente nivel en PRENDER</p></span>
            </div>
            <div class="col-2">
              <p>®Prender</p>
            </div>
        </footer>
    </div>
    


    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'core/js/validacionFormIndex.js'%}"></script>


</body>
</html>