{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/estiloregister.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/img/mini-flecha.png' %}" />
</head>

<body>
  <div class="container-fluid">
    <div class="allButFooter">
        <!--Nav-->
        <nav class="row" id="navi">
            <div class="col-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <img src="{% static 'core/img/logo-prender.png' %}" height="45px" class="navbar-brand" alt="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a> 
                            </li>                        
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
        <br><br><br><br>
        <section>
            <div class="container">
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="card">
                    <div class="card-header text-black">
                      <h2>Registrate!</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-lg-6">
                            <a type="button" class="btn btn-block" href="{% url 'comprador_register' %}">Soy Comprador</a>
                          </div>
                          <div class="col-lg-6">
                            <a type="button" class="btn btn-block" href="{% url 'emprendedor_register' %}">Soy Emprendedor</a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <footer class="row">
            <div class="col-8">
            <span><p>Lleva tu emprendimiento al siguiente nivel en PRENDER</p></span>
            </div>
            <div class="col-4">
            <p>®Prender</p>
            </div>
        </footer>  
    </div>
    {% bootstrap_javascript jquery='full' %}

</body>
</html>